.wrapper {
  text-align: center;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px 0 60px 0;
}

.button {
  width: 100%;
}

.signInContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.form {
  margin-bottom: 40px;
}

.signInText {
  font-weight: 600;
  opacity: 0.5;
}

.signInLink {
  font-weight: 600;
  font-size: 16px;
}
